body {
    background: #494949;//#3b4142 bg-dark//#064c51 dark teal
}

.dates {
    font-size: 12px;
}

.fa-pencil-alt, .fa-trash-alt, .fa-times, .route {
    cursor: pointer;
}

.route {
    background: #292929;
}

.left-panel, .right-panel {
    overflow: scroll;
}

.card, .resume {
    box-shadow: 10px 10px 10px;
}