.resume {
    background: white;
    display: inline-block;
    margin: auto;
    box-shadow: 3px 5px 10px 10px;
}
.resume div {
    padding: 0;
}
.left-side {
    font-size: 0.9em;
}
.name {
    font-size: 1.5em;
}
.links {
    font-size: 0.9em;
    color: blue;
    text-decoration: underline;
}